<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShopService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ahshop-server.azurewebsites.net/ShopService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShopService"
                contract="IShopService" name="BasicHttpBinding_IShopService" />
        </client>
    </system.serviceModel>
</configuration>